.add-recipe-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;

  &__form {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: 400px;
    min-height: 80vh;
    height: fit-content;
    max-height: fit-content;
    justify-content: space-around;

    .add-recipe-page__simple-input {
      display: flex;
      flex-direction: column;
    }

    .add-recipe-page__ingredient-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0px 0px 0px 0px;
      padding: 3px;

      .add-recipe-page__ing-input {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 5px 0px;
      }
    }

    .add-recipe-page__recipe-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;

      .add-recipe-page__recipe-input {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0px 0px 0px 0px;
        padding: 3px;

        input {
          width: 100%;
        }
      }
    }

    .form-end-button-container {
      margin: 10px 0px 10px 0px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      button {
        width: 45%;
        height: 3rem;
        font-size: 1rem;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
